<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Smart_Production_Pos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Smart_Production_Pos.Properties.Settings.DB_PRODUCTION_POSConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DB_PRODUCTION_POS.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <Smart_Production_Pos.Properties.Settings>
      <setting name="server" serializeAs="String">
        <value>.\SQLEXPRESS</value>
      </setting>
      <setting name="dataBase" serializeAs="String">
        <value>DB_PRODUCTION_POS</value>
      </setting>
      <setting name="mode" serializeAs="String">
        <value>Local</value>
      </setting>
      <setting name="ID" serializeAs="String">
        <value />
      </setting>
      <setting name="PASS" serializeAs="String">
        <value />
      </setting>
      <setting name="form_confirme_bon" serializeAs="String">
        <value />
      </setting>
      <setting name="Change_de_prix" serializeAs="String">
        <value />
      </setting>
      <setting name="Paramètre" serializeAs="String">
        <value />
      </setting>
      <setting name="hide_reference" serializeAs="String">
        <value />
      </setting>
      <setting name="hide_time" serializeAs="String">
        <value />
      </setting>
      <setting name="hide_keyboard" serializeAs="String">
        <value />
      </setting>
      <setting name="box_Qt_zero" serializeAs="String">
        <value />
      </setting>
      <setting name="detaille_produit" serializeAs="String">
        <value />
      </setting>
      <setting name="old_facture" serializeAs="String">
        <value />
      </setting>
      <setting name="list_vente" serializeAs="String">
        <value />
      </setting>
      <setting name="old_credit" serializeAs="String">
        <value />
      </setting>
      <setting name="new_credit" serializeAs="String">
        <value />
      </setting>
      <setting name="plus_and_minez" serializeAs="String">
        <value />
      </setting>
      <setting name="convert_to_pack" serializeAs="String">
        <value />
      </setting>
      <setting name="alert_facture_attend" serializeAs="String">
        <value />
      </setting>
      <setting name="add_prdct_whene_codebarre_error" serializeAs="String">
        <value />
      </setting>
      <setting name="oppen_form_vente" serializeAs="String">
        <value />
      </setting>
      <setting name="notif_vente" serializeAs="String">
        <value />
      </setting>
      <setting name="taklufa" serializeAs="String">
        <value />
      </setting>
      <setting name="supp" serializeAs="String">
        <value />
      </setting>
      <setting name="edit" serializeAs="String">
        <value />
      </setting>
      <setting name="pack" serializeAs="String">
        <value />
      </setting>
      <setting name="remise" serializeAs="String">
        <value />
      </setting>
      <setting name="change_price" serializeAs="String">
        <value />
      </setting>
      <setting name="check_Stock" serializeAs="String">
        <value />
      </setting>
      <setting name="doaa" serializeAs="String">
        <value>اللهم إكفني بحلالك عن حرامك واغنني بفضلك عمن سواك .اللهم إني أعوذ بك من الهم والحزن والكسل والبخل وضلع الدين وغلبة الرجال
</value>
      </setting>
      <setting name="tva" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ihtiyaj" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="alert" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="txt_referennce" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_categorie" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_xtoke" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_marque" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_unite" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_taille" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_couleur" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_fav" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_date_expir" serializeAs="String">
        <value />
      </setting>
      <setting name="photo_produit" serializeAs="String">
        <value />
      </setting>
      <setting name="photo_code_barre" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_prix_ht" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_tva" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_total_ht" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_price_2" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_price_3" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_benifice_2" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_benifice_1" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_benifice_3" serializeAs="String">
        <value />
      </setting>
      <setting name="chech_vente_after_expiration" serializeAs="String">
        <value />
      </setting>
      <setting name="check_vente_after_qt" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_qt_alert" serializeAs="String">
        <value />
      </setting>
      <setting name="txt_qt_ihiyaj" serializeAs="String">
        <value />
      </setting>
      <setting name="FORMVENTE" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Color_Caiss" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="photo_and_attend" serializeAs="String">
        <value />
      </setting>
      <setting name="check_price_min" serializeAs="String">
        <value />
      </setting>
      <setting name="chech_date_pereprtion" serializeAs="String">
        <value />
      </setting>
      <setting name="BackupPath" serializeAs="String">
        <value />
      </setting>
      <setting name="save_the_db" serializeAs="String">
        <value />
      </setting>
    </Smart_Production_Pos.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
